{% extends 'utility/base.html' %}
{% from 'utility/macros.html' import field, textfield, button %}

{% block content %}
<div class="box">
    <h2 class='title'>My Form</h2>
    <form method="POST">
        {{ field('name', 'Name', fields.name) }}
        {{ textfield('address', 'Address', fields.address) }}
        {{ field('city', 'City', fields.city) }}
        {{ field('state', 'State', fields.state) }}
        <button type="submit" class="button is-info">Submit</button>
    </form>
</div>
{% endblock %}