{% extends 'utility/base.html' %}
{% from 'utility/macros.html' import checkbox, field, textfield, ckeditor %}

{% block content %}
{% if g.session.errors %} 
    <article class="message is-danger">
        <div class="message-body">
            {{ g.session.errors }}
        </div>
    </article>  
{% endif %}
<h3 class="subtitle">Edit Post</h3>
<form method="POST">
    <input type="hidden" value="{{fields.csrf_token}}" name="csrf_token">
    {{ checkbox('is_published', 'Is Published', fields.is_published) }}
    {{ ckeditor("content", "Content", fields.content) }}
    {{ textfield("title", "Title", fields.title) }}
    {{ textfield("subtitle", "Subtitle", fields.subtitle) }}
    {{ field("author", "Author", fields.author) }}
    {{ field("slug", "Slug", fields.slug) }}
    {{ field("image_url", "Header Image Url", fields.image_url) }}
    {{ field("created_at", "Created at", fields.created_at) }}
    <input class="button is-primary" type="submit" value="Save">
</form>
{% endblock %}