{% extends 'utility/base.html' %}
{% from 'utility/macros.html' import select, field %}
{% block content %}
<button 
	id="showButton"
	hx-get="/add_field" 
	hx-target="#modals-here" 
	class="button is-primary" 
	_="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">Open Modal</button>
<div id="modals-here"></div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>
{% endblock %}
